.adress {
  font-family: $main-font-family;
  font-style: $main-font-style;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  height: 81px;
  margin-bottom: 60px;
}

.adress-footer {
  color: $white-clr;
  margin-bottom: 0;
  height: 21px;
}

.footer-css {
  font-family: $main-font-family;
  font-style: $main-font-style;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  padding-bottom: 60px;

  .container {
    justify-content: center;
    padding-bottom: 60px;

    @media screen and (max-width: $desktop - 1) {
      text-align: center;
    }
  }
}

.left-footer {
  padding-top: 60px;
}

.footer-adress {
  display: inline-block;
  margin-top: 8px;
}

.link-contact {
  color: rgba(255, 255, 255, 0.6);
}

.contact-footer {
  margin-bottom: 8px;
  height: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.icons-footer {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color $timing-function;
}

.footer-svg {
  fill: $white-clr;
}

.social-net {
  margin-bottom: 60px;
}

.social-net .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 0;
}

.join {
  display: inline-block;
  font-family: $main-font-family;
  font-style: $main-font-style;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-clr;
  height: 16px;
  margin-bottom: 20px;
}

.subscribe-form {
  padding: 0;
}

.mailing-input {
  display: inline-block;
  font-family: $main-font-family;
  font-style: $main-font-style;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  width: 100%;
  max-width: 450px;
  height: 50px;
  align-items: center;
  letter-spacing: 0.03em;
  background-color: $main-bckgrnd;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 16px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  outline: none;
  transition: border-color $timing-function;

  &:focus,
  &:not(:placeholder-shown) {
    border-color: $accent-color;
    transition: border-color $timing-function;
  }
}
.mailing-btn {
  position: relative;

  font-family: $main-font-family;
  font-style: $main-font-style;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  background-color: #f5f4fa;
  color: $title-color;
  border-radius: 4px;
  border-width: 0;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-right: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color $timing-function, color $timing-function,
    box-shadow $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-clr;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color $timing-function, color $timing-function,
      box-shadow $timing-function;
  }

  &:hover .send-icon,
  &:focus .send-icon {
    fill: $white-clr;
    transition: fill $timing-function;
  }
}

.send-icon {
  position: absolute;
  right: 28px;
  bottom: 13px;
  width: 24px;
  height: 24px;
  fill: $title-color;
  transition: fill $timing-function;
}

@media screen and (max-width: $desktop - 1) {
  .footer-tablet {
    text-align: center;
  }
}

@media screen and (min-width: $tablet) {
  .footer-tablet {
    display: flex;
    justify-content: center;
  }

  .social-net {
    margin-left: 165px;
    padding-top: 65px;
  }

  .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: $desktop) {
  .footer-css .container {
    display: flex;
  }

  .footer-adress {
    margin-top: 9px;
  }

  .contact-footer {
    margin-bottom: 9px;
  }

  .adress {
    margin-bottom: 0;
  }

  .social-net {
    margin-left: 70px;
    padding-top: 72px;
    margin-bottom: 0;
  }

  .mailing-btn {
    margin-left: 12px;
  }

  .subscribe {
    margin-left: 93px;
    margin-right: 0;
    padding-top: 72px;
  }

  .mailing-input {
    width: 358px;
    margin-bottom: 0;
  }

  .subscribe-form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
