.logo-style {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: $main-font-style;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $title-color;
  height: 31px;
}

.logo-style.footer {
  color: $white-clr;
  margin-bottom: 20px;
}

.logo-accent.link {
  color: $accent-color;
  font-family: "Raleway", sans-serif;
  font-style: $main-font-style;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
