// /* /*.site-nav .link-nav.current {
//   color: $accent-color;
// }
// .site-nav,
// .nav-logo {
//   /*   display: flex;
//  */
//   align-items: center;
// }
// .site-nav .link {
//   display: block;
//   padding-bottom: 32px;
//   padding-top: 32px;
// }
//

//

// .auth-nav {
//   /*   display: flex;
//  */
//   margin-left: auto;

//   .link {
//     /*     display: inline-flex;
//  */
//     align-items: center;
//     padding-top: 21px;
//     padding-bottom: 21px;
//   }

//   .item + .item {
//     margin-left: 30px;
//   }
// }

// .main-nav {
//   display: flex;
//   align-items: center;
//   /*   justify-content: space-between;
//  */
// }

// .link-nav {
//   position: relative;
//   display: inline-flex;
//   color: $title-color;

//   &::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     display: block;
//     width: 100%;
//     height: 4px;
//     border-radius: 2px;
//     background-color: $accent-color;

//     transform: scale(0);
//     transition: transform $timing-function;
//   }

//   &:focus::after,
//   &:hover::after {
//     transform: scaleX(1);
//   }
// } */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  //   margin-left: 93px;
}

@media screen and (max-width: 767px) {
  flex-grow: 1;
}

.site-nav {
  display: none;
  align-items: center;
}

// .site-nav .item {
//   margin-right: 50px;
// }

// .site-nav .item:last-child {
//   margin-right: 0;
// }

.auth-nav {
  display: none;
  align-items: center;
}

.menu-icon-svg {
  display: block;
  background-size: contain;
  fill: $title-color;
  transform: translate(-5%, -8%);
  transition: fill $timing-function;
}

.menu-close-svg {
  display: block;
  background-size: contain;
  fill: $title-color;
  transform: translate(-5%, -5%);
  transition: fill $timing-function;
}

.mobile-menu-btn {
  display: none;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;

  background-color: transparent;

  & .menu-close-svg:hover,
  & .menu-close-svg:focus {
    fill: $accent-color;
    transition: fill $timing-function;
  }
  & .menu-icon-svg:hover,
  & .menu-icon-svg:focus {
    fill: $accent-color;
    transition: fill $timing-function;
  }
}

.mobile-menu-btn .menu-close-svg {
  display: none;
}

.mobile-menu-btn.is-open .menu-close-svg {
  display: block;
}

.mobile-menu-btn.is-open .menu-icon-svg {
  display: none;
}

@media screen and (max-width: 479px) {
  .mobile-menu-btn {
    display: block;
  }
}

@media screen and (min-width: 480px) {
  .site-nav {
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .auth-nav {
    display: flex;
  }
}

.icon-nav {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  fill: $main-text-color;
  transition: fill $timing-function;
}

.envelope-icon {
  width: 16px;
  height: 12px;

  .auth-nav .link:hover &,
  .auth-nav .link:focus & {
    fill: $accent-color;
    transition: fill $timing-function;
  }
}

.phone-icon {
  width: 10px;
  height: 16px;

  .auth-nav .link:hover &,
  .auth-nav .link:focus & {
    fill: $accent-color;
    transition: fill $timing-function;
  }
}

.site-nav-mobile,
.auth-nav-mobile {
  display: inline;
  text-align: center;
}

.mobile-nav {
  margin-bottom: 60px;
}

.mobile-menu {
  outline: 1px solid teal;
  padding-top: 60px;
  padding-bottom: 60px;
}

.mobile-item .link {
  font-family: $main-font-family;
  font-style: $main-font-style;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: $title-color;
}

.mobile-auth-item .link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
}

.mobile-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-auth-item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 480px) {
  .mobile-menu {
    display: none;
  }
}
