.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.main-nav {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 80px;
}

@media screen and (min-width: $tablet) {
  flex-grow: 1;
}

.site-nav {
  display: none;
  align-items: center;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: flex;
  padding-bottom: 28px;
  padding-top: 28px;
}

.auth-nav {
  display: none;
  align-items: center;
  margin-left: auto;
  font-size: 12px;
  line-height: 1.167;
}

.phone-icon {
  width: 10px;
  height: 14px;

  .auth-item .link:hover &,
  .auth-item .link:focus & {
    fill: $accent-color;
    transition: fill $timing-function;
  }
}

.envelope-icon {
  width: 14px;
  height: 10px;

  .auth-item .link:hover &,
  .auth-item .link:focus & {
    fill: $accent-color;
    transition: fill $timing-function;
  }
}

.auth-nav .link {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.167;
}

.menu-icon-svg {
  display: block;
  background-size: contain;
  fill: $title-color;
  transition: fill $timing-function;
}

.menu-close-svg {
  display: block;
  background-size: contain;
  fill: $title-color;
  transition: fill $timing-function;
}

.mobile-menu-btn .menu-close-svg {
  display: none;
}

.mobile-menu-btn.is-open .menu-close-svg {
  display: block;
}

.mobile-menu-btn.is-open .menu-icon-svg {
  display: none;
}

.mobile-menu-btn {
  display: none;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover .menu-close-svg,
  &:focus .menu-close-svg {
    fill: $accent-color;
    transition: fill $timing-function;
  }

  &:hover .menu-icon-svg,
  &:focus .menu-icon-svg {
    fill: $accent-color;
    transition: fill $timing-function;
  }
}

@media screen and (max-width: $tablet - 1) {
  .mobile-menu-btn {
    display: block;
  }
}

.site-nav .link-nav.current {
  color: $accent-color;
}

.icon-nav {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  fill: $main-text-color;
  transition: fill $timing-function;
}

.envelope-icon-menu {
  width: 16px;
  height: 11px;

  .mobile-auth-item .link:hover &,
  .mobile-auth-item .link:focus & {
    fill: $accent-color;
    transition: fill $timing-function;
  }
}

.phone-icon-menu {
  width: 10px;
  height: 15px;

  .mobile-auth-item .link:hover &,
  .mobile-auth-item .link:focus & {
    fill: $accent-color;
    transition: fill $timing-function;
  }
}

.site-nav-mobile,
.auth-nav-mobile {
  display: inline;
  text-align: center;
  transition: color $timing-function;
}

.site-nav-mobile .link-nav.current {
  color: $accent-color;
}

.site-nav-mobile .link-nav:hover,
.site-nav-mobile .link-nav:focus {
  color: $accent-color;
  transition: color $timing-function;
}

.mobile-nav {
  margin-bottom: 60px;
}
.mobile-nav .link {
  height: 21px;
}

.link-nav {
  position: relative;
  display: inline-flex;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;

    transform: scale(0);
    transition: transform $timing-function;
  }

  &:focus::after,
  &:hover::after {
    transform: scaleX(1);
  }
}

.mobile-menu {
  display: none;
  padding-top: 60px;
  padding-bottom: 60px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-menu.is-open {
  display: block;
}

.mobile-item .link {
  font-family: $main-font-family;
  font-style: $main-font-style;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: $title-color;
  transition: color $timing-function;
}

.mobile-auth-item .link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  transition: color $timing-function;
}

.mobile-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-auth-item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: $tablet) {
  .header .container {
    height: 80px;
  }

  .site-nav .link-nav::after {
    bottom: 0;
  }

  .auth-nav {
    display: block;
    .auth-item + .auth-item {
      margin-top: 10px;
    }
  }

  .main-nav {
    display: flex;
  }

  .site-nav {
    display: flex;
  }
}

@media screen and (min-width: $desktop) {
  .main-nav {
    display: flex;
    align-items: center;
  }

  .auth-nav {
    display: flex;
    align-content: center;
    margin-left: auto;

    .link {
      display: flex;
      padding-top: 21px;
      padding-bottom: 21px;
    }

    .auth-item + .auth-item {
      margin-left: 30px;
      margin-top: 0;
    }
  }
}
