$main-text-color: #757575;
$accent-color: #2196f3;
$title-color: #212121;
$main-bckgrnd: #2f303a;
$white-clr: #ffffff;
$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

/* fonts */
$main-font-family: "Roboto", sans-serif;
$main-font-style: normal;
