.advantages .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.title-advantages {
  color: $title-color;
  font-family: $main-font-family;
  font-style: $main-font-style;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  height: 16px;
}

@media screen and (max-width: $tablet - 1) {
  .item-text:not(:last-child) {
    margin-bottom: 30px;
  }

  .title-advantages {
    text-align: center;
  }
}

.item-text::before {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.antenna-icon::before {
  background-image: url(../icons/antenna.svg);
}

.clock-icon::before {
  background-image: url(../icons/clock.svg);
}
.diagram-icon::before {
  background-image: url(../icons/diagram.svg);
}

.austranaut-icon::before {
  background-image: url(../icons/astronaut.svg);
}

@media screen and (min-width: $tablet) {
  .advantages .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px;
  }

  .item-text {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: $desktop) {
  .advantages .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .item-text {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}
