.list-nav {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  // margin-bottom: 40px;
}

.btn-portfolio {
  margin-right: 8px;
  margin-bottom: 15px;
  transition: color $timing-function, background-color $timing-function;

  &:last-child {
    margin-right: 0;
  }
}

.btn-portfolio:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

@media (max-width: $tablet - 1) {
  .btn-portfolio:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $tablet) {
  .list-nav {
    justify-content: center;
  }

  .btn-portfolio {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $desktop) {
}
