.portfolio {
  border: 1px solid #ececec;

  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.project {
  display: block;
  text-decoration: none;

  &:hover,
  &:focus {
    transition: box-shadow $timing-function;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.description {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.project-title {
  // display: inline-flex;
  font-family: $main-font-family;
  font-style: $main-font-style;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-color;
  margin-bottom: 0;
}

.project-description {
  font-family: $main-font-family;
  font-style: $main-font-style;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $main-text-color;
  height: 30px;
  margin-bottom: 0;
  margin-top: 4px;
}

.flex-container {
  margin-top: 40px;
}

.box {
  margin-bottom: 30px;
  margin-right: 0;
  background: #ffffff;
  width: 100%;
  max-width: 450px;
  text-align: center;
  padding-bottom: 0;
  border: 1px solid #eeeeee;

  &:last-child {
    margin-bottom: 0;
  }
}

.box-thumb {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 294px;
}

@media screen and (min-width: $tablet) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
  }

  .box {
    max-width: 354px;
  }
}

@media screen and (max-width: $desktop - 1) and (min-width: $tablet) {
  .project-title {
    max-width: 306px;
  }
}

@media screen and (min-width: $desktop) {
  .portfolio .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .flex-container {
    margin-top: 50px;
  }

  .box {
    max-width: 370px;

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}
