.employment {
  padding-bottom: 94px;
}

.list .directions {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.directions {
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.title-card {
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;
  text-align: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: $white-clr;
}
