.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero/hero.jpg);
  background-color: #2f303a;

  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  height: 600px;
}

.main-title {
  display: block;
  width: 696px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: $white-clr;
  font-family: $main-font-family;
  font-style: $main-font-style;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn-service {
  font-family: $main-font-family;
  font-style: $main-font-style;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  background-color: #f5f4fa;
  color: $title-color;
  border-radius: 4px;
  border-width: 0;
  height: 50px;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-clr;
    outline: none;
    transition: background-color $timing-function, color $timing-function;
  }
}
