.title-name {
  color: $title-color;
  font-family: $main-font-family;
  font-style: $main-font-style;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 0;
  height: 19px;
}

.section-staff {
  background-color: #f5f4fa;

  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.profession {
  color: $main-text-color;
  font-family: $main-font-family;
  font-style: $main-font-style;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
  height: 19px;
}

.team-item {
  width: 100%;
  max-width: 450px;
  text-align: center;
  margin-left: auto;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: $tablet - 1) {
  .team-item:last-child {
    margin-top: 60px;
  }

  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: $tablet) {
  .list-person {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: -15px;
  }

  .team-item {
    display: block;
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: $desktop) {
  .section-staff .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .team-item {
    padding-bottom: 30px;
    width: calc((100% - 8 * 15px) / 4);
  }
}
